/vendor/
/nbproject/private/
/.env
/*.csv

/debian/.debhelper/
/debian/abraflexi-revolut/
/debian/multiflexi-abraflexi-revolut/
/debian/multiflexi-abraflexi-revolut.substvars
/debian/multiflexi-abraflexi-revolut.debhelper.log
/debian/abraflexi-revolut-statement-downloader/
/debian/abraflexi-revolut-statement-downloader.substvars
/debian/abraflexi-revolut-statement-downloader.debhelper.log
/debian/debhelper-build-stamp
/abraflexi-revolut-social-preview.png
/.php-cs-fixer.cache
/debian/abraflexi-revolut.debhelper.log
/debian/abraflexi-revolut.substvars
/debian/files
/.build/
/.phpunit.cache/
__pycache__/
/revolut_automation/.venv/
